<div class="center hero-unit">
	<h1><%= full_title(yield(:title)) %></h1>
        <p>This is the Home Page for the Horses Mouth Sport Forum</p>
        <p>Find me in app/views/static_pages/home.html.erb</p>
    <%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
    <%= link_to image_tag("Horses_head.png", alt: "Home"), "#" %>
</div>