<div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container-fluid">
        	<p>The Horses Mouth, fed by @fathobbitthts</p>
        </div>
      </div>
    </div>
  